 :root {
     --margin: 30px;
}

.grid-controls{
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     width: calc(100% - var(--margin));
     margin: 100px auto 0 auto;
}


.grid-main{
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     width: calc(100% - var(--margin));
     margin: 40px auto;
}


@media (max-width: 1200px) {
    .grid-main{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 900px) {
    .grid-main{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .grid-main{
        grid-template-columns: repeat(2, 1fr);
    }
}


 .grid-main div{
     position: relative;
     display: flex;
     flex-direction: column;
     align-self: center;
}
 .grid-main div:hover{
     background-color: white;
}


 .grid-main label{
     position: absolute;
     top: 8px;
     right: 8px;
     background-color: green;
     color: white;
     padding: 3px 4px 2px 5px;
     border-radius: 3px;
}

.grid-article{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 100px auto;
	width: calc(100% - var(--margin));
}

.grid-header{
	display: flex;
	margin: 15px auto;
	width: calc(100% - var(--margin));
}

.intro,
.nav{
    flex-grow: 1;
    align-self: center;
    }

.nav{
    text-align: end;
    margin: 0 10px 0 0;
}



.grid-main .project a{
    display: flex;
    flex-direction: column;
}

.grid-main .project .title{
     min-height: 2.1em;
     margin-top: 10px;
     margin-bottom: 10px;
/*    background-color: pink;*/
/*    display: flex;*/
}




.span-half{
     grid-column: span 2;
}

.span-2{
     grid-column: span 2;
}

.span-7{
     grid-column: span 7;
}

 .gap-20{
     grid-gap: 20px;
}
 .gap-30{
     grid-gap: 30px;
}
 .gap-40{
     grid-gap: 40px;
}