
table{
    border: 2px solid black;
}
th, td {
  border: 1px solid;
}
td{
    padding: 5px;
    vertical-align: top;
    font-size: 13px;
    line-height: 17px;
/*    width: 25%;*/
}

td:nth-child(1),
td:nth-child(3){
    width: 10%;
}

td:nth-child(2),
td:nth-child(4){
    width: 40%;
/*    background: green;*/
}


table {
  border-collapse: collapse;
}
